spacy>=3.7.0
requests>=2.31.0
beautifulsoup4>=4.12.0
validators>=0.22.0
lxml>=4.9.0
pyinstaller>=6.0.0
pytz>=2023.3
aiohttp>=3.9.0
websockets>=12.0
FlightRadarAPI>=1.3.0
spacy-langdetect>=0.1.2
blinker>=1.6.0
feedparser>=6.0.0
peewee>=3.16.0
psycopg2-binary>=2.9.0
playhouse>=3.16.0